[run]

branch = true

data_file = .cache/coverage

omit =
    .venv/*
    */tests/*
    */__main__.py

[report]

exclude_lines =
    __main__
    except PackageNotFoundError
    pragma: no cover
    raise NotImplementedError
    TYPE_CHECKING
